.homeContainer {
  display: flex;
  width: 100%;
}

/* to edit the scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /*the path*/
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /*the dragging item*/
  background-color: rgb(205, 204, 204);
}
