.rightbarContainer {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 0;
  padding-right: 20px;
}

.rightbarBirthday {
  display: flex;
  align-items: center;
}

.birthdayLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rightbarBirthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAdv {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 15px;
  margin: 35px 0;
}

.rightbarFriendListTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0; /*list have some default padding and margin*/
  list-style: none;
}

.profileRightbarTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileRightbarTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profileInfoContainer {
  margin-bottom: 10px;
}

.profileInfoTitle {
  font-weight: 500;
  color: rgb(82, 82, 82);
  font-size: 16px;
}

.profileInfoDesc {
  font-weight: 300;
  margin-left: 10px;
}

.profileRightbarBottom {
  margin-top: 20px;
}

.profileRightbarFollowings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profileRightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.profileRightbarFollowingPic {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.profileRightbarFollowingUname {
  margin-top: 5px;
}
